.part-slide {
  background-color: #4b8add;
  border-top: 80px solid #4C8ADD;
  background-image: url(../assets/android-chrome-512x512.png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: 15px 98%;
}

.part-slide h1 {
  background-color: white;
  color: #5c677e;
}
